/*
        Sitemap Styler 	 
*/

#expstats, #expstats ul, #expstats li{
    margin:0;
    padding:0;
    list-style:none;
}
#expstats{}
#expstats li{
    line-height:20px;
    margin-top:1px;
    position:relative;
    width:100%;
}
/* IE leaves a blank space where span is added so this is to avoid that */
* html #expstats li{
    float:left;
    display:inline;
}

#expstats li.expcatgeneral{
    font-weight: bolder;
}

#expstats li.expcatgeneral ul li{
    font-weight: normal;
}

#expstats li ,#expstats li.expnolink{padding-left:25px;}
#expstats li span{float:left;position:absolute;top:5px;left:5px;width:13px;height:13px;cursor:auto;font-size:0;}
#expstats li span, #expstats li span.collapsed{background:url(../images/collapsed.gif) no-repeat 0 0;} 
#expstats li span.expanded{background:url(../images/expanded.gif) no-repeat 0 0;}

/* sub levels */

#expstats li ul{
}
#expstats li li{	
    background:url(../images/line2.gif) no-repeat 0 0;
}
#expstats li.expactive{
}

/* etc. */

/* float fix */

#expstats:after, #expstats ul:after{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#expstats, #expstats ul{display:block;}
/*  \*/
#expstats, #expstats ul{min-height:1%;}
* html #expstats, * html #expstats ul{height:1%;}
/*  */
#expstats ul{}

.modexpstats_span {
	font-weight:bold;
}